<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial- scale=1.0">
    <link rel="stylesheet" href="css/main.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="css/main.css"></noscript>
    <title>Character List</title>
  </head>

  <body ng-app="characterApp" ng-controller="characterCtrl">
    <header>
      <div class="greeting">Hello {{name}}</div>
      <div class="links">
        <ul class="nav-links">
          <li><a href="characterlist.html">My Characters</a></li>
          <li><a href="maplist.html">My Maps</a></li>
          <li><a ng-click="logout()" href="index.html">Logout</a></li>
        </ul>
      </div>
    </header>

    <div class="container">

        <h2>Your Characters</h2>

        <div class="titles">
          <div class="title">Character Name</div>
          <div class="title">Character Current Health</div>
          <div class="title">Character Max Health</div>
        </div>
        <div class="characters">
          <div ng-if="characterscount!=0" ng-repeat="character in characters">
            <div class="stats">
              <div class="stat">{{character.name}}</div>
              <div class="stat">{{character.current_health}}</div>
              <div class="stat">{{character.max_health}}</div>
            </div>
          </div>
        </div>

        <div class="bot-link"><a href="newcharacter.html">New Character</a></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="scripts/characters.js"></script>
  </body>
</html>
