<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial- scale=1.0">
    <link rel="stylesheet" href="css/main.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="css/main.css"></noscript>
    <title>LogIn</title>
  </head>

  <body>
    <div class="log-container" ng-app="loginApp" ng-controller="loginCtrl">
      <div class="input-box">
        <div id="invalid" class="invalid hidden">Invalid Email or Password.</div>
        <form>
          Email <br>
          <input ng-model='email'> <br>
          Password <br>
          <input type="password" ng-model='password'> <br>
          <button ng-click="login()">Login</button> <br>
        </form>
        <a href="register.html">Register an account</a>
      </div>
    </div>
  </body>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="scripts/loginregister.js"></script>
</html>
