<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial- scale=1.0">
    <link rel="stylesheet" href="css/main.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="css/main.css"></noscript>
    <title>New Character</title>
  </head>

  <body ng-app="newmapApp" ng-controller="newmapCtrl">
    <header>
      <div class="greeting">Hello {{name}}</div>
      <div class="links">
        <ul class="nav-links">
          <li><a href="characterlist.html">My Characters</a></li>
          <li><a href="maplist.html">My Maps</a></li>
          <li><a ng-click="logout()" href="index.html">Logout</a></li>
        </ul>
      </div>
    </header>

    <div class="log-container">
      <div class="input-box">
        <h3>Create a New Map</h3>
        <span id="invalid" class="invalid" ng-show="newmap.mapname.$touched && newmap.mapname.$invalid || newmap.columns.$touched && newmap.columns.$invalid || newmap.maprows.$touched && newmap.maprows.$invalid">Please fill up all fields.</span>
        <form name="newmap">
          Name <br>
          <input name="mapname" ng-model="mapname" type="" required> <br>
          Map Columns<br>
          <input name="mapcolumns" ng-model="mapcolumns" type="number" required> <br>
          Map Rows<br>
          <input name="maprows" ng-model="maprows" type="number" required> <br>
          <button ng-click="makemap()">Create</button> <br>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="scripts/map.js"></script>
  </body>
</html>
